.form {
  display: flex;
  flex-direction: column;
}
.welcome {
  display: flex;
  justify-content: space-between;
}
.action {
  border: none;
  width: 9.1875rem;
  height: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;

  color: #000;
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;

  background: var(--mono-100, #c3c3c3);
  box-shadow: 4px 4px 0px 0px #b1b1b1 inset, -4px -4px 0px 0px #7e7e7e inset,
    2px 2px 0px 0px #f0f0f0 inset, -2px -2px 0px 0px #262626 inset;

  &:active {
    background: var(--mono-50, #e3e3e3);
    box-shadow: -4px -4px 0px 0px #b1b1b1 inset, 4px 4px 0px 0px #7e7e7e inset,
      -2px -2px 0px 0px #f0f0f0 inset, 2px 2px 0px 0px #262626 inset;
  }
}

.formElement {
  display: flex;
  width: inherit;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.2rem 0;

  label {
    display: flex;
    align-items: center;
    align-self: stretch;
    font-size: 1.5rem;
  }
  input {
    display: flex;
    padding: 0.125rem 0.125rem 0.125rem 0.3125rem;
    justify-content: flex-end;
    align-items: center;
    align-self: stretch;
    background: var(--white, #fff);
    height: 1.8rem;
    outline: none;
    font-size: 1.1rem;

    /* Inside/3 */
    box-shadow: 2px 2px 0px 0px #000 inset, -2px -2px 0px 0px #c1c1c1 inset,
      1px 1px 0px 0px #808080 inset, -1px -1px 0px 0px #fff inset;
  }
}
.to::placeholder{
    background-color: #e3e3e3;
    color: #595858;
    width: min-content;
    padding: 0.14rem 0.5rem;
    border-radius: 10px;
  }

.message {
  height: 15rem;
  margin-top: 1rem;
  outline: none;
  font-size: 1.3rem;
  padding: 0.5rem;
  /* Inside/3 */
  box-shadow: 2px 2px 0px 0px #000 inset, -2px -2px 0px 0px #c1c1c1 inset,
    1px 1px 0px 0px #808080 inset, -1px -1px 0px 0px #fff inset;
}
.prompt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 45%;
  min-height: 15%;
  background: var(--mono-100, #c3c3c3);
  box-shadow: 4px 4px 0px 0px #b1b1b1 inset, -4px -4px 0px 0px #7e7e7e inset,
    2px 2px 0px 0px #f0f0f0 inset, -2px -2px 0px 0px #262626 inset;

  .sendingGif {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .promptHead {
    display: flex;
    gap: 1rem;
    align-items: center;

    .promptImg {
      margin-left: 1rem;
    }
  }

  .successCode {
    color: green;
    line-height: 1.2;
    margin: -0.5rem 0.5rem 0.5rem 4.5rem;
  }

  .errorCode {
    color: red;
    overflow-wrap: break-word;
    margin: -0.5rem 0.5rem 0.5rem 4.5rem;
  }
}
